* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

#menu {
    list-style-type: none;
    background-color: blueviolet;
    font-size:0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#menu_items {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#menu_items:hover [data-tab-value]:hover {
    background-color: black;
    color: blueviolet;
    cursor: pointer;
}

h1 {                                                                                                                                                                
    color: blueviolet;
    background-color: black;
    position: absolute;
    left: 43vw;
    right: 0;
    margin: 30px auto;

    /*margin-bottom: 2%;
    margin-left: 43%;*/
}

[data-tab-info] {
    display: none;
}
  
.active[data-tab-info] {
    display: flex;
}

[data-tab-value] {
    position: relative;
    height: 30px;
    background-color: blueviolet;
    border: none;
    color:azure ;
}
