* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

#menu {
    list-style-type: none;
    background-color: rgb(114, 36, 187);
    color: azure;
    font-family:'Times New Roman', Times, serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#menu_items {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

#menu_items:hover {
    background-color: black;
    color: blueviolet;
    cursor: pointer;
}

h1 {                                                                                                                                                                
    color: blueviolet;
    background-color: black;
    position: absolute;
    left: 43vw;
    right: 0;
    margin: 30px auto;

    /*margin-bottom: 2%;
    margin-left: 43%;*/
}

[data-tab-info] {
    display: none;
}
  
.active[data-tab-info] {
    display: flex;
}

[data-tab-value] {
    position: relative;
    height: 30px;
    background-color: aqua;
    border-color: rgb(0, 170, 170);
}
